
body{
    margin:0px;
}


#container{
    display:grid;
    height:100vh;
    gap:5px;
    grid-template-columns: 1fr 50vw 1fr;
    grid-template-rows: 50px 20vh 70vh 70px;
    grid-template-areas: 
    "lg nav nav"
    "hd hd hd"
    "as mn as2"
    "ft ft ft"
    ;
}
nav{
    padding-right:20rem;
    display:flex;
    grid-area:nav;
    background-color:white;
    justify-content:flex-end;
    align-items: center;
    
}
#logo{
    grid-area:lg;
    display: flex;
    flex: shrink 1;
}
.icon{
    height:30px;
    width:30px;
    margin:10px;
}
header{
    grid-area:hd;
    background-color:antiquewhite
}
main{
    grid-area:mn;
    background-color:black
}
.aside{
    grid-area:as;
    background-color:blue
}   
.aside2{
    grid-area:as2;
    background-color:blue
}
footer{
    grid-area:ft;
    background-color:black
}