
body{
    margin:0px;
}



#container{
    display:grid;
    height:100vh;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 10vh 40vh 5vh 60vh 5vh 60vh 70px;
    grid-template-areas: 
    "lg nav "
    "hd hd "
    "sep1 sep1"
    "mn mn "
    "sep2 sep2"
    "as as "
    "ft ft "
    ;
}
nav{
    padding-right:2rem;
    gap:10px;
    display:flex;
    grid-area:nav;
    background-color:white;
    justify-content:flex-end;
    align-items: center;
    
}
#logo{
    grid-area:lg;
    display: flex;
    flex: shrink 1;
}
.icon{
    height:30px;
    width:30px;
    margin:10px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:hd;
    background-color:#c0392b;
}
#header{
    width:60%;
    height:40vh ;
    
}
main{
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    gap:30px;
    grid-area:mn;
    background-color:#c0392b;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-around;  
    align-items: center;
}
.auction{
    background-color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;
    
    
}
.painting{
    height:40vh;
    width:fit-content;
}
p{
    margin:0px;
    font-size:2rem;
}
.aside{
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    gap:30px;
    grid-area:as;
    background-color:#c0392b;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-around;  
    align-items: center;


}  
.seperator1{
    display:flex;
    grid-area:sep1;
    background-color:white;
    text-align: center;
    justify-content: center;

} 
.seperator2{
    display:flex;
    grid-area:sep2;
    background-color:white;
    text-align: center;
    justify-content: center;
}
footer{
    grid-area:ft;
    background-color:black
}