
body{
    margin:0px;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
  }




#container{
    display:grid;
    height:100vh;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 10vh 40vh 5vh 60vh 5vh 60vh 170px;
    grid-template-areas: 
    "lg nav "
    "hd hd "
    "sep1 sep1"
    "mn mn "
    "sep2 sep2"
    "as as "
    "ft ft "
    ;
}
nav{
    padding-right:2rem;
    gap:10px;
    display:flex;
    grid-area:nav;
    background-color:white;
    justify-content:flex-end;
    align-items: center;
    
}
#logo{
    grid-area:lg;
    display: flex;
    flex: shrink 1;
}
.icon{
    height:30px;
    width:30px;
    margin:10px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:hd;
    background-color:#c0392b;
}
#header{
    width:60%;
    height:40vh ;
    
}
main{
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    gap:30px;
    grid-area:mn;
    background-color:#c0392b;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-around;  
    align-items: center;
}
.auction{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;    
}

.auction:hover{
    transform: translateY(-8px);
    box-shadow: 0px 8px 15px 0px rgb(0, 0, 0);
    border: #c0392b;
}
.painting{
    height:40vh;
    width:fit-content;
    border-radius: 1rem;
}
p{
    margin:0px;
    font-size:2rem;
    background-color:white;
    border-radius: 1rem;
    
}
.aside{
    /* display:none; */
    padding-top:10px;
    padding-bottom:10px;
    gap:30px;
    grid-area:as;
    background-color:#c0392b;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-around;  
    align-items: center;


}  
.seperator1{
    display:flex;
    grid-area:sep1;
    background-color:#a13225;
    text-align: center;
    justify-content: center;

}
.hej{
    display:flex;
    font-size:2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
} 
.seperator2{
    display:flex;
    grid-area:sep2;
    background-color:#a13225;
    text-align: center;
    justify-content: center;
}
footer{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    grid-area:ft;
    background-color:white
}
h3{
    font-size:3rem;
}
.text{
    font-size:2rem;
}