body{
    margin:0px;
    
}


#container{
    display:grid;
    height:100vh;
    grid-template-columns: 36vw 1fr;
    grid-template-rows: 10vh 40vh 60vh fit-content 200px;
    grid-template-areas: 
    "lg nav"
    "hd hd"
    "in in"
    "mn mn"
    "ft ft"
     
   
    
}


nav{
    padding-right:2rem;
    gap:10px;
    display:flex;
    grid-area:nav;
    background-color:white;
    justify-content:flex-end;
    align-items: center;
    
}

#logo{
    grid-area:lg;
    display: flex;
    flex: shrink 1;
}

.icon{
    height:30px;
    width:30px;
    margin:10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:hd;
    background-color:#c0392b;
}
#header{
    width:60%;
    height:40vh ;
    
}
.intro{
    background-color: #c0392b;
    grid-area:in;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-left:24vw;
    padding-right:24vw;

}
.introduction{
    border: 6px solid black;
    border-radius: 1rem;
    background-color: white;
}
main{
background-color: #c0392b;
gap:100px;
align-items:center;
justify-content: center;
grid-template-columns:30rem 30rem;
grid-template-rows:20rem 20rem;
grid-area:mn;
display:grid;
grid-template-areas:
"bt bt"
"b1 b2"
"b3 b4";
}
.buttons{
    border-radius: 5rem;
    padding-top:1rem;
    padding-bottom:1rem;
    justify-content: center;
    align-items: center;
    background-color:white;
    display: flex;
    flex-direction: column;
    grid-area: bt;
    
}
#box1{
    background-color:white;
    display: flex;
    flex-direction: column;
  grid-area:b1;
  border: 5px solid black;
  border-radius: 1rem;
}
#box2{ 

    background-color:white;
    display: flex;
    flex-direction: column;
    grid-area:b2;
    border: 5px solid black;
    border-radius: 1rem;
}
#box3{
 
    background-color:white;
    display: flex;
    flex-direction: column;
    grid-area: b3;
    border: 5px solid black;
    border-radius: 1rem;
    margin-bottom: 10px;
}
#box4{

    background-color:white;
    display: flex;
    flex-direction: column;
    grid-area:b4;
    border: 5px solid black;
    border-radius: 1rem;
    margin-bottom:10px;
}
.numbers{
    font-size:4rem;
}
.box{
    font-size: 3rem;
    background-color: white;
}
 
footer{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    grid-area:ft;
    background-color:white;
    
}
h3{
    font-size:3rem;
}
.text{
    font-size:2rem;
    background-color: white;
    
}















p {
    margin:0px;
    font-size:2rem;
    border-radius: 1rem;
}
a{
    text-decoration: none;
}