
::-webkit-scrollbar {
    display: none;
  }

body{
    margin:0px;
    
}


#container{
    display:grid;
    height:100vh;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 20vh 70vh 200px;
    grid-template-areas: 
    "lg nav nav"
    "hd hd hd"
    "lf mn rg"
    "ft ft ft"

     
   
    
}


nav{
    padding-right:2rem;
    gap:10px;
    display:flex;
    grid-area:nav;
    background-color:white;
    justify-content:flex-end;
    align-items: center;
    
}

#logo{
    grid-area:lg;
    display: flex;
    flex: shrink 1;
}
.icons{
    height:30px;
    width:30px;
    margin:10px;
}
.icon{
    height:100px
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area:hd;
    background-color:#c0392b;
}
#header{
    width:60%;
    height:40vh ;
    
}
main{
    border-radius: 1rem;
    border: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top:1rem;
    grid-area:mn;
    background-color:#c0392b;

}
.profile{
    border-radius: 1rem ;
    padding: 10px;
    border: 5px solid white;
    width:14rem;
    height:11rem
}
.employee{
    padding:10px;
    width:17rem;
    height:30rem;
}

#left{
    grid-area:lf;

}
#right{
    grid-area:rg;
}



.beskrivning{
    font-size: larger;
    border-radius:1rem;
    background-color: white;
    padding:5px;
    border:5px solid black
}
.title{
    font-size: 2rem;
    border:5px solid black;
    background-color: white;
    margin:5px;

}
footer{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    grid-area:ft;
    background-color:white;
    
}
h3{
    font-size:3rem;
}
.text{
    font-size:2rem;
    background-color: white;
    
}
p {
    margin:0px;
    font-size:2rem;
    border-radius: 1rem;
}
a{
    text-decoration: none;
}